.aboutme-container {
  margin-top: 100px;
  margin-left: 10%;
  width: 80%;
  height: 400px;
  background-color: #eb9a4b;
  opacity: 0.7;
  border-radius: 10px;
}

.aboutme {
  height: 500px;
  max-height: 100%;
}

.my-photo {
  height: 300px;
  width: 300px;
  z-index: 1;
  border-radius: 50%;
}
